* {
  padding:0;
  margin:0;
}

body{
  font-size:100%;
  position:relative;
}

img {
  width:100%;
}

header{
  max-width: 98%;
    padding: 1%;
    margin: 1%;
    border: solid 1px black;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

#main{
  width: 58%;
  padding: 1%;
  margin: 1%;
  height: 400px;
  float: left;
  border: 1px solid red;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}


#side{
  width: 38%;
  padding: 1%;
  margin: 1%;
  height: 400px;
  float: right;
  border: 1px solid red;
  background-color:light
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;  
}
header,footer{
  clear:both;
  width:98%;
  margin:1%;
  padding:1%;
  background:yellow;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; 
}

ul {
    padding-left: 1.25em;
}

ol {
    padding-left: 2.25em;
} 
/* Nav */
nav {
  background-color:white;
  margin-top:10px;
  width:100%;
  clear:both;
  height:38px;
  background:#778899;
}
#main-menu ul{
  list-style-type:none;
  padding-left:0;
  text-align:center;

}

#main-menu li {
  float:left;
}

#main-menu li a{

  text-decoration:none;
  padding:10px 20px;
  display:block;
}

#main-menu li a:hover{
  background: skyblue;
  color:black;
}



/* Sub menu Styles */

#main-menu ul li ul{
  position:absolute;
  visibility:hidden;
  opacity: 0;
  transition: visibility 0s linear .25s, opacity .25s linear;
  -webkit-transition: visibility 0s linear .25s, opacity .25s linear;
  
}

#main-menu ul li:hover ul{
  visibility:visible;
  opacity: 1;
  transition-delay: 0s;
  -webkit-transition-delay:0s;
}

#main-menu ul li ul li{
  float:none;
  background:#778899;
}

#main-menu ul li ul li:hover{
  background:magenta;
}

/* About */

.banner-picture{
  width:25%;
  margin:0 auto;
  height:auto;
  background-color:blue;
  float:left;
}
.about p{
  padding: 1%;
  clear:both;
}

@media all and (min-width:481px) and (max-width:779px) {
  body{
    background:skyblue;
  }
    footer{
    position:absolute;
    bottom:0;
  }

}
@media all and (max-width:480px) {
  header h2{
    display:none;
  }
  body{
    background:green;
  }
  #side, footer{
    font-size:10px;
  }
  #main, #side{
    height:auto;
    float: left;
    width: 98%;
  }
footer{
    position:absolute;
    bottom:0;
  }

/*  end of media query  */
}

  background-color: blue;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box
}

footer{
  max-width: 98%;
    padding: 1%;
    margin: 1%;
    border: solid 1px black;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    clear: both;
}

@media all and (max-width: 768px) and (min-width: 461px) {
  #main{
    width: 56%;
  }
  #side{
    width: 40%;
  }
  body {
    background-color:green;
  }
}
@media all and  (max-width: 460px){
  header h2{
    display:none;
  }
  #main{
    float: none;
    width: 98%;
    padding: 2%;
    box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  }
  #side{
    float: none;
    width: 98%;
    padding: 2%;
    box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  }
 #side, footer{
   font-size: .8em;
 }
  body{
    background-color:purple;
  }
}

/* end of media query */

